<!doctype html>
<html lang="sv">
  <head>
      <meta charset="utf-8">
      <title>HKR Run</title>
      <link rel="stylesheet" href="css/style.css">
      <link rel="icon" href="favicon.ico">
  </head>

  <% var userList = users; %>

  <body>

    <div class="header">
      <h1 class="w3-myfont">HKR Run Admin</h1>
      <p>Be in charge of the website.</p>
    </div>

    <ul class="topnav">
      <li><a href="home">Home</a></li>
      <li><a href="history">History</a></li>
      <li><a href="about">About</a></li>
      <li><a href="admin">Admin</a></li>
      <li style="float:right"><a href="configuration"><img  width="14" src="img/configuration.jpg"></a></li>
      <li style="float:right"><a href="logout">Logout</a></li>
    </ul>

    <div>
        <table class="userTable" id="userTable">
            <tr>
                <td>ID</td>
                <td>SSN</td>
                <td>Username</td>
                <td>Email</td>
                <td>Privilege</td>
            </tr>     
            <% if(userList != undefined) { %>   
            <% for(var i = 0; i < userList.length; i++){ %>
              <tr>
                <td><%= userList[i].userId %></td>
                <td><%= userList[i].ssn %></td>
                <td><%= userList[i].username %></td>
                <td><%= userList[i].email %></td>
                <td><%= userList[i].privilege %></td>
              </tr>
            <% } }%>
        </table>
    </div>

    <div>
      <div class="login-form">
        <h1>Change Password Form</h1>
        <form action="/admin/password" method="POST">
          <input type="number" name="userId" placeholder="Enter userId to alter" required>
          <input type="text" name="newPassword" placeholder="New password" required>
          <button class="adminSubmitButtons">Submit</button>
        </form>  
        <%= passwordChangeStatus %>
      </div>

      <div class="login-form">
        <h1>Change Email Form</h1>
        <form action="/admin/email" method="POST">
          <input type="number" name="userId" placeholder="Enter userId to alter" required>
          <input type="text" name="newEmail" placeholder="New email" required>
          <button class="adminSubmitButtons">Submit</button>
        </form>  
        <%= emailChangeStatus %>
      </div>

      <div class="login-form">
        <h1>Change Privilege Form</h1>
        <form action="/admin/privilege" method="POST">
          <input type="number" name="userId" placeholder="Enter userId to alter" required>
          <input type="number" name="privilege" placeholder="New privilege (1 or 0)" required>
          <button class="adminSubmitButtons">Submit</button>
        </form>  
        <%= privilegeChangeStatus %>
      </div>

      <div class="login-form">
        <h1>Delete User Form</h1>
        <form action="/admin/delete" method="POST">
          <input type="number" name="userId" placeholder="Enter userId to alter" required>
          <button class="adminSubmitButtons">Submit</button>
        </form>  
        <%= deleteUserStatus %>
      </div>
    </div>


    <script type="text/javascript" src="js/workout.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
